.hourly-forecast-container {
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  padding: 15px;
  width: 700px;
  height: 300px;
  position: absolute;
  bottom: 70px;
  right: 100px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  text-align: justify;
  font-weight: bold;
  color: black;
}

.forecast-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.forecast-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.forecast-item img {
  width: 40px;
  height: 40px;
}

.forecast-item p {
  margin: 0;
  font-size: 14px;
  color: #333;
}